@media screen and (max-width: 768px) {
    h1 {
        font-size: 23px;
    }

    #user-buttons button {
        height: 65px;
        width: 65px;
        font-size: 10px;
    }

    #comp-btn {
        font-size: 17px;
    }
}

@media screen and (max-width: 425px) {
    #game-container {
        width: 67%;
        padding: 18px
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px;
    }

    #user-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 12px;
        justify-items: center;
    }

    #user-buttons button {
        height: 60px;
        width: 65px;
        font-size: 10px;
    }

    #comp-btn {
        font-size: 13px;
    }

    #display-result {
        font-size: 26px;
        margin: 5px 0 5px 0;
    }

    #reset-btn {
        margin-top: 10px;
    }
}